<!DOCTYPE html>
{% extends 'main_template.html' %}

{% block content %} 
  <main class="profile-page layout layout--3">
    <div class="container">
      <div class="roomList">
        <div class="profile__info">
          {% if request.user == user %}
          <a href="{% url 'modify concert' concert.id %}"  class="btn btn--main btn--pill">Modyfikuj Koncert</a>
          {% endif %}
        </div>
        <br>
        <form method="post" action="" id="delete concert">
          {% csrf_token %} 
          <div class="profile__info">
            {% if request.user == user %}
             <input class="btn btn--main btn--pill" type="submit" value="Usuń Koncert" form="delete concert"/> 
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="roomList__header">
        <div>
          <h2><a class="btn btn--main" href="{% url 'concert' concert.id %}">Koncert {{concert.concert_date}}</a></h2>
          <br>
          <h2><a>{{concert.concert_pianist.get_full_name}}</a>  <a>"{{concert.concert_program.name}}"</a></h2>
          <br>
          <hr>
          <br>
          {% if program %}
            {% for composition in program %}
              <p>{{composition.polish_name}} / {{composition.english_name}}</p>
            {% endfor %}
          {% else %}
            <h2><a>PROGRAM NIE ZAWIERA OBECNIE KOMPOZYCJI</a></h2>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}  
