<!DOCTYPE html>
{% extends 'main_template.html' %}

{% block content %}
  <main class="create-room layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Dodaj nowy koncert</h3>
          </div>
        </div>

        <div class="layout__body">
          <form class="form" action="" method="post" id="new_concert_form">
            {% csrf_token %}

            <select name="concert_pianist" id="pianist_select" form="new_concert_form">
                <option value="">Wybierz wykonawcę</option>
                {%  for user in users %}
                  <option value="{{user.id}}">{{user.get_full_name}}</option>
                {% endfor %}
            </select> 

            <select name="concert_program" id="program_select" form="new_concert_form">
                <option value="">Wybierz program</option>
                {% for pianist in pianists %}
                  <optgroup label="{{pianist.pianist.get_full_name}}"></optgroup>
                  {% for program in programs %}
                    {% if program.program_pianist.get_full_name == pianist.pianist.get_full_name %}
                      <option value="{{program.id}}">{{program.name}}</option>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
            </select> 
            <div>
              <br>
            </div>

            <div class="form__group">
              <label for="room_topic">Data</label>
              <input required type="datetime" value="2023-01-30 18:00" name="concert_date" form="new_concert_form" list="topic-list"/>
            </div>

            <div class="form__action">
              <a class="btn btn--dark" href="{% url 'home page' %}">Anuluj</a>
              <button class="btn btn--main" type="submit">Akceptuj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}