<!DOCTYPE html>
{% extends 'main_template.html' %}

{% block content %} 
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{user.pianist.avatar.url}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.get_full_name}}</h3>
            {% if request.user == user %}
            <a href="{% url 'modify program' program.id %}"  class="btn btn--main btn--pill">Modyfikacje Programów</a>
            {% endif %}
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2><a>Program koncertu "{{program.name}}"</a></h2>
            <h2><a>{{program.date}}</a></h2>
            <hr>
            {% for composition in compositions %}
            <p>{{composition.polish_name}} / {{composition.english_name}}</p>
            {% endfor %}

            {% for composition in all_compositions %}
            <p>{{composition.polish_name}} / {{composition.english_name}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Room List End -->
    </div>
  </main>
{% endblock content %}  